.container{
    font-size: 100%;

}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}


.record_info{

}

.navbar .navbar-collapse {
    text-align: center;
}

.record{
    display: none;
}

audio {
    min-height: 30px;
    display:block;
    margin: 0 0 0 0;
    width: 100%;
}


