#{extends 'base.html'/} #{set 'moreStyles'}
    #{if lessons == null || lessons.size() == 0 || lessons.isEmpty()}
    <h2> אין שיעורים קיימים</h2>
    #{/if}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/stylesheets/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/public/javascripts/scripts.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>פרקי אבות</title>
</head>

#{/set}
<body>


<div class="container" style="direction: rtl">
    <h2>פרקי אבות</h2>
    <div class="list-group">
    <h4>(סה״כ שיעורים - ${lessons.size()})</h4>

    #{list items:lessons, as:'entry'}
        <div class="list-group-item" onclick="onRowClick(${entry.getRecordId()})">
            <span id=${entry.getRowId()} >
                <span class="record_info">${entry.getName()}</span><br>
                <span class="record_info">${entry.getDescription()}</span><br>
                <span class="record_info">${entry.getDateAdded()}</span><br>
            </span>
            <div id=${entry.getRecordId()} class="record">
                <audio controls controlsList="nodownload noremoteplayback">
                    <source src=${entry.getPathToFile()}>
                    Your browser does not support the audio element.
                </audio>

            </div>
        </div>
    #{/list}
    </div>
</div>
</body>