#{extends 'base.html'/} #{set 'moreStyles'}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
#{/set}

<h1>לוח זמנים</h1>

<h2>יום שני</h2>
<span>20:00-21:00 גמרא</span><br>
<span> 21:00 ערבית</span><br>
<span> 21:20 - 22:00 הלכות</span><br>

<h2>יום שלישי</h2>
<span>20:30 - 22:00 פרקי אבות</span>

<h2>יום רביעי</h2>
<span>20:00-21:00 גמרא</span><br>
<span> 21:00 ערבית</span><br>
<span> 21:20 - 22:00 פרשת השבוע</span><br>

<br>
<br>
<br>
<br>
<h3>ליצירת קשר - הרב מרדכי סרודי - טלפון</h3>