<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>file</title>
</head>
<body>
<form method="POST" enctype="multipart/form-data" action="uploadFile">
    File to upload: <input type="file" name="upfile"><br/>
    description <input type="text" name="description"><br/>
    Type <input type="text" name="type"><br/>
    name(number of lesson) <input type="text" name="name"><br/>
    dateAdded <input type="text" name="date"><br/>
    pathToFile <input type="text" name="pathToFile"><br/>

    password <input type="text" name="password"><br/>
    <br/>
    <input type="submit" value="Press"> to upload the file!
</form>
</body>
</html>