<!DOCTYPE html>
<head>
    <title>מרכז חאן בבא שיעורי תורה</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/stylesheets/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
#{get 'moreStyles'/}


</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50" style="text-align: center;position: relative;">

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">ראשי</a></li>
            <li><a href="/halacha">הלכות</a></li>
            <li><a href="/gmara">גמרא</a></li>
            <li><a href="/avot">פרקי אבות</a></li>
            <li><a href="/parasha">פרשת השבוע</a></li>
            <li><a href="/moed">מועדים</a></li>
        </ul>
    </div>
</nav>

<div class="container">
#{doLayout /}
</div>


</body>
</html>